@import "tailwindcss";

@theme {
  --color-primary-red: #d00000;
  --color-text-header: #292828;
  --color-text-p: #3d3d3d;
  --color-text-light: #9e9c9c;
  --color-text-semi-invisible: #c9c9c9;
  --color-primary-red-hover: #f04f4f;
  --color-primary-red-hover2: #9f0712;
}

body {
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-work-sans);
  color: var(--color-text-header);
}
p {
  color: var(--color-text-p);
}

a {
  color: var(--color-primary-red);
}

header {
  font-family: var(--font-work-sans);
  font-weight: 600;
  font-size: 1.6rem;
}

/*Katinka - General styling text-flow*/
/* https://fluidtypography.com */
/* Font-size & line-height viewport width range 375-1920px */

/*font-size range 32-40px, line-height range 1.5-1.3*/
h1 {
  font-size: clamp(2rem, 0.518vw + 1.879rem, 2.5rem);
  line-height: clamp(3rem, 0.259vw + 2.939rem, 3.25rem);
  padding-bottom: 0.8rem;
}
/*font-size range 28-36px, line-height range 1.5-1.3*/
h2 {
  font-size: clamp(1.75rem, 0.518vw + 1.629rem, 2.25rem);
  line-height: clamp(2.625rem, 0.311vw + 2.552rem, 2.925rem);
  padding-bottom: 0.7rem;
}
/*font-size range 24-32px, line-height range 1.5-1.3*/
h3 {
  font-size: clamp(1.5rem, 0.518vw + 1.379rem, 2rem);
  line-height: clamp(2.25rem, 0.362vw + 2.165rem, 2.6rem);
  padding-bottom: 0.6rem;
}
/*font-size range 20-28px, line-height range 1.5-1.3*/
h4 {
  font-size: clamp(1.25rem, 0.518vw + 1.129rem, 1.75rem);
  line-height: clamp(1.875rem, 0.414vw + 1.778rem, 2.275rem);
  padding-bottom: 0.5rem;
}
/*font-size range 16-24px, line-height range 1.5-1.3*/

h5 {
  font-size: clamp(1rem, 0.518vw + 0.879rem, 1.5rem);
  line-height: clamp(1.5rem, 0.466vw + 1.391rem, 1.95rem);
  padding-bottom: 0.3rem;
}
/*font-size range 14-18px, line-height range 1.5-1.3*/
p {
  font-size: clamp(0.875rem, 0.259vw + 0.814rem, 1.125rem);
  line-height: clamp(1.138rem, 0.57vw + 1.004rem, 1.688rem);
  padding-bottom: 0.2rem;
  text-wrap: balance;
  max-width: 65ch;
}

footer p {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: white;
}

button {
  cursor: pointer;
}

/* animation til input felter der SKAL udfyldes. */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-shake {
  animation: shake 0.5s;
}

/*class til at skjule scrollbar da man ikke kan gennem tailwind styling kun*/
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/*class til at tilføje skygge på font i gallery så tekst bliver mere synligt + højrer kontrast*/
.text-shadow-red {
  text-shadow: 0 2px 6px rgba(44, 40, 41, 0.8), 0 0 2px rgb(30, 28, 28);
}

.text-shadow-white {
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5), 0 0 1px rgba(255, 255, 255, 0.4);
}

